// src/app/components/tournament/tournament.component.scss

.tournament-container {
  padding: 20px;
  border-radius: 8px;
  background-color: #2d3a5c;
  color: #f0f0f0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.tournament-card {
  background-color: #344364;
  border-radius: 8px;
  padding: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.tournament-card h2 {
  font-size: 1.5rem;
  color: #f0f0f0;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.3s ease;
  opacity: 0;
  visibility: hidden;
}

.modal.show {
  opacity: 1;
  visibility: visible;
}

.modal-content {
  background-color: #2d3a5c;
  color: #f0f0f0;
  border-radius: 8px;
  max-width: 500px;
  width: 100%;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.modal-content h2 {
  margin-bottom: 20px;
}

.modal-content .form-control,
.modal-content .form-select {
  margin-bottom: 15px;
}

.modal-content .btn-close {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
  color: #f0f0f0;
  font-size: 1.5rem;
  cursor: pointer;
}

.btn {
  min-width: 100px;
  border: 3px solid;
  font-weight: bold;
}

.btn-info {
  background-color: #17a2b8;
  color: #fff;
}

.btn-warning {
  background-color: #ffc107;
  color: #fff;
}

.btn-danger {
  background-color: #dc3545;
  color: #fff;
}

.btn-success {
  background-color: #28a745;
  color: #fff;
}

.btn-secondary {
  background-color: #6c757d;
  color: #fff;
}

#participants {
  max-height: 200px; 
  overflow-y: auto; 
}

option strong {
  font-weight: bold;
}

.formBody {
  border: none;
  border-radius: 8px;
  background-color: #344364;
  margin: 0px 20px;
}

.form-select option {
  color: #000 !important; /* Colore del testo delle opzioni */
  background-color: #fff !important; /* Colore di sfondo delle opzioni */
}