.container-fluid {
    padding: 20px;
  }
  
  .card {
    margin: 18px auto;
    padding: 17px;
    border-radius: 8px;
    background-color: #344364;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .card-img-top {
    max-height: 200px;
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 8px 8px 0 0;
  }
  
  .card-title {
    font-size: 1.5em;
    margin-bottom: 10px;
  }
  
  .card-text {
    font-size: 1em;
  }

  .btn {
    border: 3px solid;
    padding: 0.7rem 1rem;
  }
  