<div class="login-container d-flex justify-content-center align-items-center min-vh-100">
  <div class="card p-5 shadow-sm" style="width: 100%; max-width: 500px;">
    <h2 class="text-center mb-4 text-light">Login</h2>
    <form (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <label for="email" class="form-label text-light">E-Mail</label>
        <input type="text" id="email" class="form-control" [(ngModel)]="email" name="e-mail" required>
      </div>
      <div class="mb-3">
        <label for="password" class="form-label text-light">Password</label>
        <input type="password" id="password" class="form-control" [(ngModel)]="password" name="password" required>
      </div>
      <div class="d-grid">
        <button type="submit" class="btn btn-primary mt-3">Login</button>
      </div>
    </form>
  </div>
</div>
