.navbar {
    margin-bottom: 20px;
    background-color: #344364 !important;
  }

  a {
    font-size: 1.3rem;
  }

  .TMan {
    font-size: 1.7rem;
    font-weight: 700;
  }

  .navbar-brand img {
    height: 67px;
    margin-right: 2px;
  }

  li {
    margin-right: 10px;
  }

  .propic {
    width: 85px;  // Imposta la larghezza dell'immagine
    height: 85px;  // Imposta l'altezza dell'immagine
    border-radius: 50%;  // Rende l'immagine tonda
    object-fit: cover;  // Assicura che l'immagine riempia il contenitore senza distorsioni
    display: block;  // Assicura che l'immagine sia un elemento block
  }

