.navbar {
    margin-bottom: 20px;
    background-color: #344364 !important;
  }

  a {
    font-size: 1.3rem;
  }

  .TMan {
    font-size: 1.7rem;
    font-weight: 700;
  }

  .navbar-brand img {
    height: 67px;
    margin-right: 2px;
  }

  li {
    margin-right: 10px;
  }

  .propic {
    border-radius: 50%;
    object-fit: cover;  
    display: block;
  }

  .navbar-toggler {
    margin-right: 1rem;
  }

  @media (max-width: 992px) {
    .navbar-nav {
      margin-top: 0.5rem;
    }
  }


